*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

img {max-width:100%;}
ul,ol {list-style:none;}
a {text-decoration:none;}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 15px;
}

.header {
    display: flex;
    width: 100%;
    height: 82px;
    background-color: #efefef;
    box-shadow: 0px 0px 12px 0px #aaaaaa;
    justify-content: space-between;
    align-items: center;
    padding:0px 80px;
}

.arrow-img {
    width: 32px;
    height: 30px;
}

.logo {
    display: inline-block;
    margin-right: 70%;
}

.logo-img {
    width: 180px;
    height: 46px;
    cursor: pointer;
}

.close-img {
    width: 28px;
    height: 28px;
}

.section-one {
    text-align: center;
    margin-top: 60px;
}

.section-one .text1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #5b5b5b;
    font-weight: 300;
}

.section-one .text2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: #808080;
    font-weight: 500;
}

.section-two {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 45px auto;
}

.car {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #4d4d4d;
}

.car span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #4d4d4d;
}

.target-amount {
    display: flex;
}

.target-amount .target {
    margin-top: 10px;
}

.target-img {
    width: 46px;
    height: 45px;
}


.content {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #4d4d4d;
    margin-left: 22px;
}

.content span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #4d4d4d;
}

.target-date {
    display: flex;
}

.target-date .target-two {
    margin-top: 10px;
}

.target-two-img {
    width: 46px;
    height: 45px;
}

.content-two {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #4d4d4d;
    margin-left: 22px;
}

.content-two span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #4d4d4d;
}

.sip {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #4d4d4d;
}

.sip span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #4d4d4d;
}

.invest {
    display: flex;
}

.invest .investment {
    margin-top: 10px;
}

.investment-img {
    width: 32px;
    height: 44px;
}

.content-three {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #4d4d4d;
    margin-left: 22px;
}

.content-three span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #4d4d4d;
}

.section-three {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 35px auto;
}

.chart-circle {
    position: relative;
    width: 250px;
    height: 250px;
    border-style: solid;
    border-width: 17px;
    border-top-color: #425b77;
    border-right-color: #425b77;
    border-bottom-color: #13bc9c;
    border-left-color: #14a388;
    border-radius: 50%;
    transform: rotate(45deg);
}

.data {
    position: absolute;
    top: 20%;
    left: 32%;
    transform: translate(-50%, -50%);
    transform: rotate(-45deg);
    text-align: center;
}

.data .debt {
    color: #12d6b0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 26px;
    padding-bottom: 10px;
}

.data .equity {
    color: #415a77;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 26px;
}

.chart .quote {
    font-size: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-top: 12px;
}

.box {
    width: 70%;
}

.equity-box {
    display:flex; 
    border:1px solid #ccc; 
    border-radius:2px; 
    justify-content:space-between; 
    margin-bottom: 10px;
}

.equity-box .equity-details { 
    padding:5px 0px 16px 10px; 
    width: 85%; 
    display:inline-block; 
}

.equity-box .equity-details h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 8px;
    color: #666666;
    font-size: 17px;
}
.equity-box .equity-amt-one {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    display: flex;
    flex-basis: 15%;
    background-color: #14a388;
    color: #fff;
    align-items: center;
    justify-content: center;
    padding: 0px 4px;
}

.equity-box .equity-amt-two {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    flex-basis: 15%;
    display: flex;
    background-color: #13bc9c;
    color: #fff;
    align-items: center;
    justify-content: center;
    padding: 0px 4px;
}

.equity-box .equity-amt-three {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    flex-basis: 15%;
    display: flex;
    background-color: #425b77;
    color: #fff;
    align-items: center;
    justify-content: center;
    padding: 0px 4px;
}

.equity-details .large-cap {
    width: 20%;
    float: left;
    padding-left: 25px; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 12px;
    position: relative;
}
.equity-details .large-cap::before {
    content: "\2022";
    color: #14a388;
    font-size: 40px;
    font-weight: 700;
    display: inline-block;
    width: 5px;
    padding-right: 20px;
    position: absolute;
    left: 5px;
    top: -20px;
}

.equity-details .mid-cap {
    width: 20%;
    float: left;
    padding-left: 25px; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 12px;
    position: relative;
}
.equity-details .mid-cap::before {
    content: "\2022";
    color: #13bc9c;
    font-size: 40px;
    font-weight: 700;
    display: inline-block;
    width: 5px;
    padding-right: 20px;
    position: absolute;
    left: 5px;
    top: -20px;
}

.equity-details .long-term {
    width: 30%;
    float: left;
    padding-left: 25px; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 12px;
    position: relative;
}
.equity-details .long-term::before {
    content: "\2022";
    color: #425b77;
    font-size: 40px;
    font-weight: 700;
    display: inline-block;
    width: 5px;
    padding-right: 20px;
    position: absolute;
    left: 5px;
    top: -20px;
}
.equity-details .min {
    width: 80%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 12px;
}

.equity-details .min-long {
    width: 70%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 12px;
}

.equity-one:hover {
    border-left: 4px solid #14a388;
    transition: all 0.2s;
}

.equity-two:hover {
    border-left: 4px solid #13bc9c;
    transition: all 0.2s;
}

.equity-three:hover {
    border-left: 4px solid #425b77;
    transition: all 0.2s;
}

.inr {
    font-size: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-top: 12px;
    margin-right: 38px;
    text-align: end;
}

.now {
    text-align: center;
}

.now a {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border: 1px solid #12d6b0;
    background-color: #12d6b0;
    box-shadow: 1px 1px 3px 1px #aaaaaa;
    border-radius: 2PX;
    color: #fff;
    padding: 10px 60px;
}


.box-mob {
    display: none;
}

@media screen and (max-width: 1024px) {
    .header {
        height: 60px;
        box-shadow: 0px 0px 8px 0px #aaaaaa;
        padding:0px 50px;
    }

    .arrow-img {
        width: 28px;
        height: 26px;
    }
    
    .logo {
        margin-right: 60%;
    }
    
    .logo-img {
        width: 160px;
        height: 40px;
    }
    
    .close-img {
        width: 24px;
        height: 24px;
    }

    .section-one {
        margin-top: 50px;
    }
    
    .section-one .text1 {
        font-size: 36px;
    }
    
    .section-one .text2 {
        font-size: 9px;
    }

    .section-two {
        width: 80%;
        margin: 35px auto;
    }
    
    .car {
        font-size: 12px;
    }
    
    .car span {
        font-size: 34px;
    }
    
    .target-img {
        width: 42px;
        height: 40px;
    }
    
    .content {
        font-size: 12px;
        margin-left: 14px;
    }
    
    .content span {
        font-size: 34px;
    }
    
    .target-two-img {
        width: 42px;
        height: 40px;
    }
    
    .content-two {
        font-size: 12px;
        margin-left: 14px;
    }
    
    .content-two span {
        font-size: 34px;
    }
    
    .sip {
        font-size: 12px;
    }
    
    .sip span {
        font-size: 34px;
    }
    
    .investment-img {
        width: 28px;
        height: 40px;
    }
    
    .content-three {
        font-size: 12px;
        margin-left: 14px;
    }
    
    .content-three span {
        font-size: 34px;
    }
    
    .chart-circle {
        width: 225px;
        height: 225px;
        border-width: 14px;
    }
    
    .data .debt {
        font-size: 22px;
        padding-bottom: 8px;
    }
    
    .data .equity {
        font-size: 22px;
    }
    
    .chart .quote {
        font-size: 7px;
        margin-top: 10px;
    }
    
    .equity-box {
        margin-bottom: 8px;
    }
    
    .equity-box .equity-details { 
        padding:0px 0px 10px 10px; 
    }
    
    .equity-box .equity-details h3 {
        margin: 6px;
        font-size: 14px;
    }
    .equity-box .equity-amt-one {
        font-size: 22px;
        flex-basis: 16%;
        padding: 0px 4px;
    }
    
    .equity-box .equity-amt-two {
        font-size: 22px;
        flex-basis: 16%;
        padding: 0px 4px;
    }
    
    .equity-box .equity-amt-three {
        font-size: 22px;
        flex-basis: 16%;
        padding: 0px 4px;
    }

    .equity-details .large-cap {
        font-size: 11px;
    }
    
    .equity-details .mid-cap {
        font-size: 11px;
    }
    
    .equity-details .long-term {
        font-size: 11px;
    }
   
    .equity-details .min {
        font-size: 11px;
    }
    
    .equity-details .min-long {
        font-size: 11px;
    }
    
    .inr {
        margin-right: 8px;
        text-align: end;
    }
    
    .now a {
        font-size: 18px;
        padding: 9px 50px;
    }

    .box-mob {
        display: none;
    }
    
}

@media screen and (max-width: 768px) {
    .header {
        height: 50px;
        box-shadow: 0px 0px 7px 0px #aaaaaa;
        padding:0px 40px;
    }

    .arrow-img {
        width: 26px;
        height: 24px;
    }
    
    .logo {
        margin-right: 55%;
    }
    
    .logo-img {
        width: 140px;
        height: 35px;
    }
    
    .close-img {
        width: 22px;
        height: 22px;
    }

    .section-one {
        margin-top: 45px;
    }
    
    .section-one .text1 {
        font-size: 32px;
    }
    
    .section-one .text2 {
        font-size: 8px;
    }

    .section-two {
        width: 100%;
        margin: 30px 0px;
    }
    
    .car {
        font-size: 10px;
    }
    
    .car span {
        font-size: 30px;
    }
    
    .target-img {
        width: 36px;
        height: 34px;
    }
    
    .content {
        font-size: 10px;
        margin-left: 6px;
    }
    
    .content span {
        font-size: 30px;
    }
    
    .target-two-img {
        width: 36px;
        height: 34px;
    }
    
    .content-two {
        font-size: 10px;
        margin-left: 6px;
    }
    
    .content-two span {
        font-size: 30px;
    }
    
    .sip {
        font-size: 10px;
    }
    
    .sip span {
        font-size: 30px;
    }
    
    .investment-img {
        width: 24px;
        height: 36px;
    }
    
    .content-three {
        font-size: 10px;
        margin-left: 6px;
    }
    
    .content-three span {
        font-size: 30px;
    }

    .section-three {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 35px auto;
    }
    
    .chart-circle {
        width: 190px;
        height: 190px;
        border-width: 12px;
    }
    
    .data .debt {
        font-size: 20px;
        padding-bottom: 7px;
    }
    
    .data .equity {
        font-size: 20px;
    }
    
    .chart .quote {
        font-size: 7px;
        margin-top: 10px;
    }
    
    .equity-box {
        margin-bottom: 6px;
    }
    
    .equity-box .equity-details { 
        width: 100%; 
        padding:0px 0px 8px 4px;
    }
    
    .equity-box .equity-details h3 {
        margin: 4px;
        font-size: 12px;
    }

    .birla {
        padding-bottom: 15px;
    }

    .equity-box .equity-amt-one {
        font-size: 18px;
        flex-basis: 14%;
        padding: 0px 2px;
    }
    
    .equity-box .equity-amt-two {
        font-size: 18px;
        flex-basis: 14%;
        padding: 0px 2px;
    }
    
    .equity-box .equity-amt-three {
        font-size: 18px;
        flex-basis: 14%;
        padding: 0px 2px;
    }

    .equity-details .large-cap {
        font-size: 10px;
    }
    
    .equity-details .mid-cap {
        font-size: 10px;
    }
    
    .equity-details .long-term {
        font-size: 10px;
    }
   
    .equity-details .min {
        font-size: 10px;
    }
    
    .equity-details .min-long {
        font-size: 10px;
    }
    
    .inr {
        font-size: 7px;
        text-align: end;
        margin-right: 0px;
    }
    
    .now a {
        font-size: 16px;
        padding: 8px 40px;
    }

    
    .box-mob {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .header {
        height: 40px;
        box-shadow: 0px 0px 5px 0px #aaaaaa;
        padding:0px 30px;
    }
    
    .arrow-img {
        width: 24px;
        height: 22px;
    }
    
    .logo {
        margin-right: 0%;
    }
    
    .logo-img {
        width: 120px;
        height: 30px;
        cursor: pointer;
    }
    
    .close-img {
        width: 20px;
        height: 20px;
    }
    
    .section-one {
        margin-top: 45px;
    }
    
    .section-one .text1 {
        font-size: 30px;
    }
    
    .section-one .text2 {
        font-size: 8px;
    }
    
    .section-two {
        display: inline-block;
        width: 100%;
        margin: 30px auto;
    }
    
    .car {
        text-align: center;
        font-size: 14px;
        padding: 20px 0px;
    }
    
    .car span {
        font-size: 44px;
    }
    
    .target-amount {
        display: flex;
        justify-content: center;
        float: left;
        padding-right: 80px;    
    }

    .target-amount .target {
        margin-top: 10px;
        text-align: center;
    }
    
    .target-img {
        width: 40px;
        height: 38px;
    }
    
    .content {
        font-size: 12px;
        margin-left: 15px;
    }
    
    .content span {
        font-size: 36px;
    }
    
    .target-two-img {
        width: 40px;
        height: 38px;
    }
    
    .content-two {
        font-size: 12px;
        margin-left: 15px;
    }
    
    .content-two span {
        font-size: 36px;
    }
    
    .sip {
        font-size: 12px;
        float: left;
        padding-right: 80px;
        padding-left: 50px;
        margin-top: 40px;
    }
    
    .sip span {
        font-size: 36px;
    }
    
    .invest {
        display: flex;
        margin-top: 40px;
    }
    
    .invest .investment {
        margin-top: 10px;
    }
    
    .investment-img {
        width: 30px;
        height: 40px;
    }
    
    .content-three {
        font-size: 12px;
        margin-left: 15px;
    }
    
    .content-three span {
        font-size: 36px;
    }
    
    .section-three {
        width: 100%;
        display: inline-block;
        margin: 35px auto;
    }
    
    .chart {
        width: 100%;
        text-align: -webkit-center;
    }

    .chart-circle {
        position: relative;
        width: 250px;
        height: 250px;
        border-style: solid;
        border-width: 17px;
        border-top-color: #425b77;
        border-right-color: #425b77;
        border-bottom-color: #13bc9c;
        border-left-color: #14a388;
        border-radius: 50%;
        transform: rotate(45deg);
    }
    
    .data {
        position: absolute;
        top: 20%;
        left: 32%;
        transform: translate(-50%, -50%);
        transform: rotate(-45deg);
        text-align: center;
    }
    
    .data .debt {
        color: #12d6b0;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 26px;
        padding-bottom: 10px;
    }
    
    .data .equity {
        color: #415a77;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 26px;
    }
    
    .chart .quote {
        font-size: 8px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        margin-top: 12px;
        margin-bottom: 30px;
    }
    
    .box {
        width: 70%;
        display: none;
    }

    .box-mob {
        display: block;
        width: 100%;
    }

    .equity-box-mob {
        margin: 10px 0px;
        border:1px solid #ccc; 
        border-radius:2px;
    }

    .equity-box-mob .equity-details-mob {
        width: 100%;
        text-align: center;
    }

    .equity-box-mob .equity-details-mob h3 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        margin: 4px;
        color: #666666;
        font-size: 17px;
    }
     
    .equity-details-mob .large-cap {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 12px;
        position: relative;
    }
    .equity-details-mob .large-cap::before {
        content: "\2022";
        color: #14a388;
        font-size: 36px;
        font-weight: 700;
        display: inline-block;
        width: 5px;
        padding-right: 20px;
        position: absolute;
        left: 178px;
        top: -18px;
    }

    .equity-details-mob .min {
        padding: 10px 0px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 14px;
    }

    .equity-box-mob .equity-amt-one-mob {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 22px;
        background-color: #14a388;
        color: #fff;
    }

    .equity-details-mob .mid-cap {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 12px;
        position: relative;
    }
    .equity-details-mob .mid-cap::before {
        content: "\2022";
        color: #13bc9c;
        font-size: 36px;
        font-weight: 700;
        display: inline-block;
        width: 5px;
        padding-right: 20px;
        position: absolute;
        left: 166px;
        top: -18px;
    }

    .equity-box-mob .equity-amt-two-mob {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 22px;
        background-color: #13bc9c;
        color: #fff;
    }

    .equity-details-mob .long-term {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 12px;
        position: relative;
    }
    .equity-details-mob .long-term::before {
        content: "\2022";
        color: #425b77;
        font-size: 36px;
        font-weight: 700;
        display: inline-block;
        width: 5px;
        padding-right: 20px;
        position: absolute;
        left: 140px;
        top: -18px;
    }

    .equity-details-mob .min {
        padding: 10px 0px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 14px;
    }

    .equity-box-mob .equity-amt-three-mob {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 22px;
        background-color: #425b77;
        color: #fff;
    }

    .equity-one-mob:hover {
        border-top: 4px solid #14a388;
        transition: all 0.2s;
    }
    
    .equity-two-mob:hover {
        border-top: 4px solid #13bc9c;
        transition: all 0.2s;
    }
    
    .equity-three-mob:hover {
        border-top: 4px solid #425b77;
        transition: all 0.2s;
    }
    
    .inr {
        font-size: 9px;
        text-align: center;
    }
    
    .now {
        text-align: center;
    }
    
    .now a {
        font-size: 16px;
        padding: 8px 40px;
    }
    
}

